@charset "utf-8";
/* CSS Document */


@font-face {
    font-family: 'Calibri';
	src: url('../fonts/Calibri.eot') format('embedded-opentype'),
	url('../fonts/Calibri.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Calibri-Light';
	src: url('../fonts/Calibri-Light.eot') format('embedded-opentype'),
	url('../fonts/Calibri-Light.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
	font-family: 'Calibri-Bold';
	src: url('../fonts/Calibri-Bold.eot') format('embedded-opentype'),
	url('../fonts/Calibri-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Calibri-BoldItalic';
	src: url('../fonts/Calibri-BoldItalic.eot') format('embedded-opentype'),
	url('../fonts/Calibri-BoldItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'Calibri-LightItalic';
	src: url('../fonts/Calibri-LightItalic.eot') format('embedded-opentype'),
	url('../fonts/Calibri-LightItalic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
	font-family: 'Calibri-Italic';
	src: url('../fonts/Calibri-Italic.eot') format('embedded-opentype'),
	url('../fonts/Calibri-Italic.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}





/* #Reset & Basics
================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
*, *:before, *:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
	display: block
}
body {
	line-height: 1
}
ol, ul {
	list-style: none
}
blockquote, q {
	quotes: none
}
blockquote:before, blockquote:after, q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
.clr {
	clear:both;
}
.alignleft {
	float: left;
	margin:0 20px 20px 0px;
}
.alignright {
	float:right;
	margin:0 0 20px 20px;
}
.txtleft {
	text-align:left
}
.txtcenter {
	text-align:center!important;
}
/* #Basic Styles
================================================== */
html,body {margin:0 auto; padding:0; height:100%; }

/**/
html {
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  text-size-adjust: 100%;
}

* {
  -webkit-overflow-scrolling: touch;
}
body {
	font-size: 14px;
	color: #222;
	font-family: 'Calibri' !important;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	/*-webkit-overflow-scrolling: touch;*/
}
/* #Typography
================================================== */

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	font-weight: inherit;
}
em {
	font-style: italic
}
strong {
	font-weight: 700;
}
/*  Blockquotes */
blockquote, blockquote p {
	font-size: 17px;
	line-height: 24px;
	color: #777;
	font-style: italic;
}
blockquote {
	margin: 0 0 20px;
	padding: 9px 20px 0 19px;
	border-left: 1px solid #ddd;
}
blockquote cite {
	display: block;
	font-size: 12px;
	color: #555;
}
blockquote cite:before {
	content: "\2014 \0020"
}
blockquote cite a, blockquote cite a:visited, blockquote cite a:visited {
	color: #555
}

hr {
	border: solid #ddd;
	border-width: 1px 0 0;
	clear: both;
	margin: 10px 0 10px;
	height: 0;
}

/* #Links
================================================== */

a, a:visited {
	text-decoration: none;
	outline: 0;
	/*-webkit-transition:all 300ms linear; -moz-transition:all 300ms linear; -o-transition:all 300ms linear; -ms-transition:all 300ms linear; transition:all 300ms linear;*/
}
a:hover, a:focus {
	text-decoration: none;
	outline:none;
	color: inherit;
}
img:hover { outline:none;}
p a, p a:visited {
	line-height: inherit
}
/* #Lists
================================================== */
ul, ol {
	margin:0
}
ul {
	list-style: none outside,
}
ol {
	list-style: decimal
}
ol, ul.square, ul.circle, ul.disc {
	margin-left: 30px
}
ul.square {
	list-style: square outside
}
ul.circle {
	list-style: circle outside
}
ul.disc {
	list-style: disc outside
}
ul ul li, ul ol li, ol ol li, ol ul li {
	margin: 0;
	padding:0;
}
li {
	line-height: 18px;
}
/* #Images
================================================== */
img.scale-with-grid {
	max-width: 100%;
	height: auto;
}

/* #Buttons
================================================== */

/* Fix for odd Mozilla border & padding issues */
button::-moz-focus-inner, ::-moz-focus-inner {
border: 0;
padding: 0;
}

/* #Custom Css
================================================== */

.wrapper .btn.focus, .wrapper .btn:focus { outline: none; box-shadow:none; }
.wrapper .btn{ transition: all 0.3s ease-in-out; }
.container {max-width: 1200px;}






@media only screen and (min-width: 1280px)
{
	.home-banner-content {padding-left: 7%;}
}

/**************************************************************/
/***************  Add new css 18-07-2019  ********************/
/**************************************************************/

.header-div{ padding: 0;margin: 0; background-color: #fff; width: 100%; z-index: 999;  border: 1px solid rgba(151,151,151, .1);}
.header-div .logo-div { padding: 14px 0px; margin: 0; display: flex; float: left; width: 20%; align-items: center; }
.header-div nav { display: flex; justify-content: flex-end; width: 80%; max-height: 50px;}
.header-div .inner-top-header-div .logo-div{min-height: 94px; }
.top-nav1 { display: flex; justify-content: flex-end; padding: 15px 0; align-items: center; }

.cd-shadow-layer { position: fixed; min-height: 100%; width: 100%; top: 0; left: 0;background-color: rgba( 0, 0, 0, 0.4); cursor: pointer; z-index: 2; display: none; }
.cd-shadow-layer.is-visible { display: block; -webkit-animation: cd-fade-in 0.3s; -moz-animation: cd-fade-in 0.3s; animation: cd-fade-in 0.3s; }

.nav-div{ float: left; }
.display-none{ display: none !important; }
.nav-div .closebtn { display: none; }

.ullist-inline { padding: 0;margin: 0; display: flex;align-items: center; min-height: 45px; }
.ullist-inline li{ padding: 0;margin: 0;display: inline-block;padding: 10px 15px;text-transform: capitalize;font-size: 15px; }
.ullist-inline li a{ color: #6D7278; white-space: nowrap; font-family: 'calibri'; font-size: 18px; letter-spacing: -0.12px; line-height: 24px; position: relative;}
.ullist-inline li a.active::before {content: ''; background-image: url('../images/circle.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 26px; width: 26px;  left: -11px;bottom: -5px;}
/* .ullist-inline li:hover a::before {content: ''; background-image: url('../images/circle.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 26px; width: 26px;  left: -11px;bottom: -5px;} */
.ullist-inline li:hover a{ color: #212121;}
.ullist-inline li a.active{ color: #212121;}

/* .ullist-inline li a.btn-contact.active {color:#E3C76B; border-color:#E3C76B;}
.ullist-inline li a.btn-contact:hover {color: #E3C76B;} */

/* .fixed .btn-contact {padding: 8px 30px; border: 1px solid #fff; border-radius: 100px;}
.fixed .ullist-inline li:hover a.btn-contact:hover {background-color: transparent; color: #E3C76B; border-color: #E3C76B; opacity: 1;}
.fixed {background-color: #6D7278; box-shadow: 0 2px 28px 0 rgba(0, 0, 0, 0.09);}
.fixed .ullist-inline li a {color: #6D7278; font-family: calibri}
.fixed .ullist-inline li a:hover {color: #1F206B} 
.fixed .ullist-inline li a.active {color: #1F206B; border-color: #E3C76B;}
.fixed .logo-div .logo-white { display: block}
.fixed .logo-div .logo-blue {display: none; }
.logo-div .logo-blue {display: none;} */


/* New changes */




.cbp-af-header {position: absolute;top: 0px; max-height: 94px;}
.cbp-af-header-shrink {position: fixed;top: 0px;background-color: #fff;transform: translateZ(95px);animation: slide-down 0.9s;     box-shadow: 0 7px 35px rgba(0,0,0,.1);}

/* header */

.header-div .logo-div { width: 20%; }
.header-div nav.nav-center { display: flex; justify-content: center; width: 60%; max-height: 94px; height: 100%; float: left; }
.header-div .rightnav-div{ display: flex; justify-content: flex-end; width: 20%; height: 100%;  align-items: center; }
.header-div .rightnav-div .socialicon-div{ display: inline-block; }
.header-div .rightnav-div .socialicon-div .icon-list { display: flex; align-items: flex-start; justify-content: center;  height: 29px; width: 29px;border-radius: 100%;margin: 0 16px 0 0;float: left;transition: all 0.2s ease-in-out; }
.header-div .rightnav-div .socialicon-div .icon-list:last-child{ margin-right: 5px; }
.social-icons{ margin: 0 auto; padding: 0; width: 21px; height: 21px; display: block; background-size: cover; vertical-align: middle; text-align: center; fill: #666666; color: #666666; -webkit-mask-size: cover; mask-size: cover; background-color: #666666;  }
.header-div .rightnav-div .socialicon-div .social-link{ display: inline-block; }
.header-div .rightnav-div .socialicon-div .icon-list:hover{ background-color: transparent; }
.header-div .rightnav-div .socialicon-div .icon-list:hover .social-icons{ background-color: red; }


.header-div .rightnav-div .socialicon-div .icon-list:nth-child(1):hover .social-icons{ background-color: #3b5998; }
.header-div .rightnav-div .socialicon-div .icon-list:nth-child(2):hover .social-icons{ background-color: #55acee; }
.header-div .rightnav-div .socialicon-div .icon-list:nth-child(3):hover .social-icons{ background-color:#e4405f; }
.social-icons.facebook-icon {
    -webkit-mask: url(../images/icon/facebook-icon.svg) no-repeat 100% 100%; mask: url(../images/icon/facebook-icon.svg) no-repeat 100% 100%;
}
.social-icons.twitter-icon {
    -webkit-mask: url(../images/icon/twitter-icon.svg) no-repeat 100% 100%; mask: url(../images/icon/twitter-icon.svg) no-repeat 100% 100%;
}
.social-icons.instagram-icon {
    -webkit-mask: url(../images/icon/instagram-icon.svg) no-repeat 100% 100%; mask: url(../images/icon/instagram-icon.svg) no-repeat 100% 100%;
}

/* searchbar header */

.search-bar a {padding: 10px 20px 10px 0 ; display: inline-block;}
.img-search img {width: 14px; height: 14px;}
.rightnav-div .search-bar {display: none;}

/* mobile social media */

.mobile-social-only{ display: none; }
.mobile-social-only.socialicon-div .icon-list { display: flex; align-items: center; justify-content: center; border: 1px solid #6666661a; height: 29px; width: 29px;border-radius: 100%;margin: 0 16px 0 0;float: left;transition: all 0.2s ease-in-out; }
.mobile-social-only.socialicon-div .icon-list:last-child{ margin-right: 5px; }
.mobile-social-only .social-icons{ margin: 0 auto; padding: 0; width: 13px; height: 13px; display: block; background-size: cover; vertical-align: middle; text-align: center; fill: #666666; color: #666666; -webkit-mask-size: cover; mask-size: cover; background-color: #666666;  }
.mobile-social-only.socialicon-div .social-link{ display: inline-block; }
.mobile-social-only.socialicon-div .icon-list:hover{ background-color: #1F206B; }
.mobile-social-only.socialicon-div .icon-list:hover .social-icons{ background-color: #ffffff; }

/* end */


/* search bar css */

.overlay {height: 100%;width: 100%;display: none;position: fixed;z-index: 99999;top: 0;left: 0;background-color: #FFFAF1;background-color: rgba(255,255,255, .7); } 
.overlay-content {position: relative; width: 98%;text-align: center;margin-top: 30px;margin: auto;}
.search-box{background: #212121; box-shadow: 0 2px 44px 0 rgba(255,255,255, .6); padding-bottom: 60px;}
.overlay .closebtn {position: relative; display: flex; justify-content: flex-end; font-weight: 300; font-size: 35px;cursor: pointer;color: #ffffff; top: 20px;}
.overlay .closebtn:hover {color: #ffffff; opacity: .8;}
.overlay input[type=text] {padding: 14px 0;font-size: 34px; margin-bottom: 10px; border: none; border-bottom: 1px solid #ffffff;  color: #fff; float: left;width: 100%;background:transparent; margin-top: 100px;}
.overlay input:focus {outline: none;}
.overlay input[type=text]:hover {background: transparent;}
.overlay button {float: left;width: 20%;padding: 15px;background: #ddd;font-size: 17px;border: none;cursor: pointer;}
.overlay button:hover {  background: #bbb;}
.overlay-content p {color: #fff;  line-height:  18px; font-size: 14px; text-align: left;}

/* end search bar css */



/* select2 ccs start */

.select2-div{ padding: 0; margin: 0;   }
.select2-div .select2-container{     width: 100% !important; }
.select2-div .select2-container--default .select2-selection--multiple .select2-selection__rendered{     width: 100%;    padding: 0 10px; }
.select2-div .select2-container--default .select2-search--inline .select2-search__field{     width: 100%; }
.select2-div .select2-container--default .select2-selection--multiple { border: 1px solid #0098CC; border-radius: 3px; display: flex; align-items: center; min-height: 45px; height: 60px; }
.select2-container--default .select2-results__option { padding: 10px; font-weight: 500; font-size: 20px !important; }
.select2-container--default .select2-results__option--highlighted[aria-selected] { background-color: #0098CC; color: white; }	
.select2-container--default .select2-selection--multiple .select2-selection__choice {  background-color: #f2f2f2;  border: 1px solid #f2f2f2;  border-radius: 11px;  cursor: default;  float: left;  margin-right: 5px;  margin-top: 0;  padding: 0px 45px 0 15px;  height: 30px;  color: #383838;  line-height: 30px;  position: relative; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove {  color: #fff;  cursor: pointer;  display: inline-block;  font-weight: bold;  margin-right: 10px;  background: #727272;  position: absolute;  right: 0;  top: 5px;  width: 20px;  height: 20px;  padding: 0;  font-size: 22px;  display: inline-block;  text-align: center;  line-height: 17px;  font-weight: 500;  border-radius: 100%; }
.select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{ color: #fff; }
/* .select2-div .select2-container--default .select2-selection--multiple .select2-selection__rendered::after { position: absolute; content: "\f078"; top: 15px; font: normal normal normal 14px/1 FontAwesome; right: 15px; color: #E3C76B; }
.select2-div .select2-container--default.select2-container--open .select2-selection--multiple .select2-selection__rendered::after { position: absolute; content: "\f077"; top: 15px; font: normal normal normal 14px/1 FontAwesome; right: 15px; color: #E3C76B; } */

/* select2 ccs end */

/* .select2-container--default .select2-selection--single .select2-selection__arrow b {border-color: #d2ddec transparent transparent transparent !important; border: 0 !important; font-family:'FontAwesome'!important; position: relative; color: #6E84A3;}
.select2-container--default .select2-selection--single .select2-selection__arrow b:before {content: "\e92e"; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b { border-color:transparent transparent #d2ddec transparent  !important; }
.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {content: "\e931" !important; } */

.select2-container--default .select2-selection--single .select2-selection__arrow b {top: 67% !important;}
/* Home Page
########################################################################################################################################
######################################################################################################################################## */
/* .container-fluid {padding-left: 0 !important; padding-right: 0 !important; } */

.middle-container {margin-top: 94px; min-height: calc(100vh - 100px);}
.home-banner-section {height: 100%; display: flex; overflow: hidden;  max-width: 1920px; margin: 0 auto;}
.home-banner-content {width: 50%; float: left; height: auto; background-color: #ffffff; display: flex; flex-direction: column;  padding-left: 13%; padding-right: 6%; padding-top: 250px;}
.home-banner-image {width: 50%; float: left; height: 790px; background-image: url(../images/banner-right.png); background-position: center; background-repeat: no-repeat; z-index: 1;}

.text-content {display: flex; flex-direction: column; width: 100%; position: relative; padding-left: 80px; margin-bottom: 56px;}
.text-content h3 {line-height: 60px; color: #BDBDBD; font-size: 40px; font-family: 'Calibri-Light';}
.text-content h2 {line-height: 64px; color: #212121; font-size: 50px;}
.text-content .img-man {position: absolute; left: 0;  top: 20px; }

.text-content-two p {font-size: 30px; line-height: 50px; color: #757575; font-family: 'Calibri-Light';}
.text-content-two p span {font-weight: 600; display: block; font-family: 'Calibri-BoldItalic';}
.text-content-two {margin-bottom: 90px;}

.search-location {position: relative; height: 100%; z-index: 2;}
.search-location-bar {background-color: #F2F2F2; height: 140px; position: relative; top: 0; left: 0; width: 1050px;}
.search-group {padding: 37px 40px; display: flex; position: relative;}
.search-group .btn-search {margin-left: 40px; border-color: transparent !important;  background-color: #0098CC; padding: 15px 97px 17px 97px; font-size: 22px; font-weight: 600; text-transform: uppercase; letter-spacing: -11.61; }
.search-group .form-control {height: 66px; font-size: 20px; color: #757575; font-size: 24px; padding-left: 50px;}
.search-group .location-icon {position: absolute; top: 59px; left: 58px;}

/* spinner */
.round-spinner {position: relative;}
.spinner { animation: spin 10s linear infinite; position: absolute; right: -230px; top: -130px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 240px; width: 240px; z-index: 0;}



@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.golf-circle {position: relative; }
.golf-spinner { animation: spin 10s linear infinite; position: absolute; left: -200px; top: -100px; background-image: url("../images/black-large.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 350px; width: 350px; z-index: 0;}

.golf-circle2 {position: relative; }
.golf-spinner2 { animation: spin 10s linear infinite; position: absolute; right: -30px; bottom: 70px; background-image: url("../images/black-large.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 350px; width: 350px; z-index: 0;}

.about-circle {position: relative; display: none }
.about-spinner { animation: spin 10s linear infinite; position: absolute; left: -140px; top: 180px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 240px; width: 240px; z-index: 0;}

.gallery-left-circle {position: relative; }
.gallery-left-spinner { animation: spin 10s linear infinite; position: absolute; left: -110px; top: -150px; background-image: url("../images/circle-lg.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 392px; width: 392px; z-index: 0;}

.gallery-right-circle {position: relative; }
.gallery-right-spinner { animation: spin 10s linear infinite; position: absolute; right: -120px; top: -100px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 240px; width: 240px; z-index: 0;}

.gallery-right-bottom-circle {position: relative; }
.gallery-right-bottom-spinner { animation: spin 10s linear infinite; position: absolute; right: -200px; bottom: -300px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 392px; width: 392px; z-index: 0;}



.golf-clubs-circle {position: relative; }
.golf-clubs-spinner { animation: spin 10s linear infinite; position: absolute; right: -200px; top: 100px; background-image: url("../images/circle-lg.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 350px; width: 350px; z-index: 0;}


.golf-clubs-circle2 {position: relative; }
.golf-clubs-spinner2 { animation: spin 10s linear infinite; position: absolute; left: -150px; top: -100px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: -1;}


.feature-circle {position: relative; }
.feature-spinner { animation: spin 10s linear infinite; position: absolute; left: -130px; top: 180px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0;}


.feature-circle2 {position: relative; }
.feature-spinner2 { animation: spin 10s linear infinite; position: absolute; right: -200px; top: -100px; background-image: url("../images/circle-lg.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 392px; width: 392px; z-index: 0;}

.carousel-circle {position: relative; }
.carousel-spinner { animation: spin 10s linear infinite; position: absolute; left: -130px; top: 100px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0;}

.contact-circle {position: relative; }
.contact-spinner { animation: spin 10s linear infinite; position: absolute; right: -130px; top: -100px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0;}

.blog-details-circle {position: relative; }
.blog-details-spinner { animation: spin 10s linear infinite; position: absolute; right: -130px; top: -100px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: -1;}


.blog-details-circle2 {position: relative; }
.blog-details-spinner2 { animation: spin 10s linear infinite; position: absolute; left: -130px; top: 350px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0;}


.blog-circle2 {position: relative; }
.blog-spinner2 { animation: spin 10s linear infinite; position: absolute; left: -100px; top: 350px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0;}

.blog-circle {position: relative; }
.blog-spinner { animation: spin 10s linear infinite; position: absolute; right: -100px; top: -400px; background-image: url("../images/circle-md.svg"); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: -1;}




/* end spiner */

/* section golf course */

.golf-course {position: relative; background-color: #242424;  padding: 100px 0 80px 0; overflow: hidden;}
.container-heading {padding: 0px 0 100px 0;  text-align: center; display: flex; justify-content: center; align-items: center;}
.container-heading h3 {position: relative; font-size: 48px; color: #757575;position: relative;  }
.container-heading h3 span {color: #fafafa; text-transform: uppercase; padding-left: 15px; }
.container-heading h3:before { content: ''; background-image: url('../images/golf-man-gray.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 93px; width: 52px; top: -30px; left: -70px;}

.golf-course-title h3 { font-size: 48px; color: #ffffff; line-height: 50px; font-weight: 300; margin-bottom: 25px; }

.ratting {margin-bottom: 30px;}
.ratting i { font-size: 30px; margin-right: 15px; line-height: 28px;}
.ratting i.filled {color: #E3C76B;}
.ratting i.un-filled {color: #E3C76B;}

.address-detais p {font-size: 28px; line-height: 45px; color: #BDBDBD;  font-weight: 300; padding-left: 50px;  font-family: 'Calibri-Light';}
.address-detais {position: relative;  margin-bottom: 15px}
.address-detais .address-icon {position: absolute; font-size: 28px; color: #BDBDBD; top: 8px; left: 0;}

.address-footer {display:  flex; flex-direction: row; margin-bottom: 30px;}
.address-footer span { width: 25%; padding-left: 50px; font-size: 28px; line-height: 45px; font-family: 'Calibri-Light'; color: #BDBDBD;  font-weight: 300;  position: relative;   font-family: 'Calibri-Light';}
.address-footer span i {position: absolute; font-size: 28px; color: #BDBDBD; top: 8px; left: 0;}


.golf-clubs-details .address-detais p, .golf-clubs-details .address-footer span, .golf-clubs-section .about-golf-course p {color: #666666;}



.about-golf-course h3 {font-size: 30px; line-height: 50px; color: #ffffff;  font-weight: 500; }
.about-golf-course p {color: #BDBDBD; font-size: 26px; line-height: 40px; padding-right: 10px; font-weight: 300; font-family: 'Calibri-Light'; }
.golf-course-details {margin-bottom: 50px;}
.golf-course-image {margin-bottom: 50px;}
.golf-course-image img{width: 100%;}
.fly-overlink {margin-bottom: 30px;}
.fly-overlink a {color: #fafafa; z-index: 1; position: relative; display: flex; align-items: center; font-size: 24px; transition: all .3s ease-in-out; font-family: 'Calibri-LightItalic';}
.fly-overlink a:hover i {margin-left: 30px; transition: all .5s ease-in-out;} 
.fly-overlink a i {margin-left: 15px;  transition: all .5s ease-in-out;}

.video-gallary {position: relative; display: flex; flex-direction: column;     justify-content: center; align-items: center; text-align: center;}
.video-gallary .circle {height: 120px; width: 120px; border-radius: 100px; overflow: hidden; margin-bottom: 10px;display: flex; justify-content: center; align-items: center;}
.video-gallary .circle::before {content: ''; background-image: url('../images/thumb/play.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 40px; width: 40px; display: flex; justify-content: center; align-items: center;}
.video-gallary p {font-size: 18px; color: #757575; font-weight: 600; }
.video-thumb {display: flex; flex-direction: row;}

.about-section {padding: 80px 0 0 0 ;}
.about-heading h3 {color: #212121; font-size: 48px; line-height: 64px; font-weight: 400; margin-bottom: 40px;}
.about-heading p {color: #757575; font-size: 26px; line-height: 40px; font-weight: 300; }
.about-heading {margin-bottom: 60px;}
.about-img-group {margin-bottom: -103px;}
.about-img-group img {width: 100%;}
.balck-bg-section {background-color: #242424; height: 200px;}

.testimonial-section {background-color: #ffffff; height: 740px; width: 100%; display: flex;}
.testimonial-title {width: 20%; float: left; display: flex; justify-content: center; align-items: center; transform: rotate(190deg);}
.testimonial-image {width: 80%; float: left; height: 100%;  background-image: url(../images/testimonial.png); background-position: center; background-size: cover; background-repeat: no-repeat; z-index: 1;}
.testimonial-title h3 {color: #BDBDBD;  transform: rotate(260deg); font-family: 'Calibri-Light'; font-size: 40px; line-height: 64px; letter-spacing: 15px; text-transform: uppercase;}
.testimonial-inner {padding: 85px 155px;}

.quote-img {height: 56px; width: 56px; overflow: hidden; border-radius: 100px; margin-bottom: 80px;}
.quote-img img {width: 100%;}

.quote-text p {width: 890px; font-size: 34px; line-height: 60px; color: #ffffff; margin-bottom: 80px;}

.quote-owner {padding-left: 80px; position: relative;}
.quote-owner .img-own {height: 61px; width: 61px;border: 1px solid #ffffff; border-radius: 100px; overflow: hidden; position: absolute; left: 0;}
.img-own {width: 100%;}

.quote-owner h3 {font-size: 24px; font-weight: 500; color: #ffffff; line-height: 40px;}
.quote-owner p {color: #ffffff; font-size: 16px;}

.testimonial-section .owl-theme .owl-nav {text-align: left; margin-left: 155px; top: 30px; }
.testimonial-section .right-roundcircle {width: 100px;}

.golf-gallery-section {padding: 120px 0 100px 0; background-color: #ffffff; overflow: hidden;}
.gallery-tiltle {text-align: center; display: flex; justify-content: center; align-items: center; margin-bottom: 126px;}
.gallery-tiltle h3{font-size: 48px;color: #212121;letter-spacing: -1px; position: relative;}
.gallery-tiltle h3:before { content: ''; background-image: url('../images/golf-man-gallery.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 93px; width: 52px; top: -30px; left: -70px;}
.img-gallery img {width: 100%;}

.golf-gallery-section .owl-theme .owl-nav {width: 100%;margin-top: 10px;text-align: center;-webkit-tap-highlight-color: transparent;position: absolute;top: 50%;justify-content: space-between;display: flex;}
.golf-gallery-section .owl-theme .owl-nav .owl-prev {left: -100px; position: relative;}
.golf-gallery-section .owl-theme .owl-nav .owl-next {right: -100px; position: relative;}

.footer-section {background-color: #FAFAFA; padding: 100px 0 100px; z-index: 3; position: relative;}
.fooetr-heading h3 {font-size: 48px; margin-bottom: 40px; color: #212121;}
.getin-touch h4 {padding-left: 40px; position: relative; font-size: 26px; font-weight: 500; margin-bottom: 10px;line-height: 30px;}
.getin-touch h4 i {position: absolute; left: 0; top: 3px; font-size: 26px;}
.getin-touch P {color: #757575; font-size: 26px; line-height: 40px; margin-bottom: 30px;  font-family: 'Calibri-Light';}

.connect {margin-bottom: 40px;}
.connect h4 { position: relative; font-size: 26px; font-weight: 500; margin-bottom: 18px;}
.connect ul li a { border: 1px solid #757575; display: flex; justify-content: center; align-items: center; width: 40px; height: 40px; transition: all .3s ease-in-out;}
.connect ul li a .fa {color: #757575; font-size: 16px;}
.connect ul li { display: inline-block; margin-right: 20px;}



.connect ul li:nth-child(1):hover a {background-color: #3b5998; transition: all .3s ease-in-out; border-color: #3b5998;}
.connect ul li:nth-child(1):hover a .fa {color: #ffffff}
.connect ul li:nth-child(2):hover a {background-color: #55acee; transition: all .3s ease-in-out; border-color: #55acee;}
.connect ul li:nth-child(2):hover a .fa {color: #ffffff;}
.connect ul li:nth-child(3):hover a {background-color: #e4405f; transition: all .3s ease-in-out; border-color: #e4405f;}
.connect ul li:nth-child(3):hover a .fa {color: #ffffff;} 

.connect2 ul li a {color: #6D7278; border-color: #f2f2f2;};
.connect2 ul li a .fa {color: #6D7278;}

.connect-mobile ul li a {border-color: #f2f2f2;}
.connect-mobile ul li a .fa {color: #f2f2f2}

.send-message a {background-color: #333333; color: #ffffff; border-radius: 0; padding: 18px 91px 18px 91px; font-size: 22px; text-transform: uppercase; font-weight: 300;}
.send-message a:hover {background-color: #0098CC;}

.feature-title {padding: 50px 100px;}
.feature-title h3{font-size: 42px; color: #212121;letter-spacing: -1px; position: relative; margin-bottom: 53px; }
.feature-title h3:before { content: ''; background-image: url('../images/golf-man-black.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 93px; width: 52px; top: -30px; left: -70px;}

.feature-client-first {padding-left: 50px;}
.feature-title p { font-size: 34px; line-height: 50px;  color: #212121; margin-bottom: 50px; font-family: 'Calibri-Light';}
.feature-title p span {color: #0098CC; font-family: 'Calibri';}

.copyright-section {background-color: #ffffff; display: flex; justify-content: center; align-items: center;}
.Copyright {padding: 30px 0 35px 0; font-size: 18px; text-align: center; color: #757575}

.owl-theme .owl-nav [class*='owl-']:active, .owl-theme .owl-nav [class*='owl-']:focus {
	box-shadow: none !important;
	outline: none !important;
}
.owl-theme .owl-nav [class*='owl-']:hover {
    background: transparent !important;
    color: transparent !important;
	text-decoration: none;
	box-shadow: none !important;
}



.div-loader {display: flex; align-items: center; justify-content: center; margin-top: 50px; display: none}
.div-loader h3 {font-size: 30px; color: #424242; margin-left: 20px; }
.loader {border: 5px solid #f3f3f3; /* Light grey */border-top: 5px solid #424242; /* Blue */border-radius: 50%;width: 30px;height: 30px;animation: spin 2s linear infinite;}
  
  @keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
  }

/* 
#######################################################################################################################
## inner pages started
##################################################################################################################### */



.golf-clubs-section {overflow: hidden; padding: 50px 0;}
.golf-clubs-details {position: relative;}
.golf-clubs-title h3 {font-size: 48px;color: #212121;line-height: 50px;font-weight: 300;margin-bottom: 25px;}
.golf-clubs-details .address-detais {margin-bottom: 25px;}
.golf-clubs-details .address-footer {margin-bottom: 30px;}

.play-info {display: flex; border: 1px solid rgba(189, 189, 189, .3);}
.play-info .play-tab {padding: 25px 20px; font-family: 'Calibri-Light'; font-size: 33px; color: #BDBDBD; text-align: center; width: 50%;}
.play-info .play-tab:nth-child(1) {position: relative; display: inline-block;}
.play-info .play-tab:nth-child(1):after {content: ''; border-right: 1px solid rgba(189, 189, 189, .3); height: 70%; position: absolute; top: 15%; right: 0;} 
.play-info .play-tab h4 {margin-bottom: 7px; color: #212121; font-size: 28px;}


.golf-clubs-details .address-footer span {width: 33%;}
.golf-clubs-section .about-golf-course h3 {color: #212121;}
.about-golf-course {padding: 30px 0 0 0;}

.view-golf-section {background-color: #FAFAFA; padding: 80px 0;}
.view-golf-inner .fly-overlink a {color: #757575;}

.container-heading-black {padding: 0px 0 48px 70px;  text-align: left; display: flex; justify-content: flex-start; align-items: center;}
.container-heading-black h3 {position: relative; font-size: 40px; color: #BDBDBD;position: relative; font-family: 'Calibri-Light';}
.container-heading-black h3 span {color: #212121; text-transform: uppercase; padding-left: 15px; font-size: 50px; }
.container-heading-black h3:before { content: ''; background-image: url('../images/golf-man-black.png'); background-position: bottom; background-size: 100%; background-repeat: repeat-x; position: absolute; height: 93px; width: 52px; top: -30px; left: -70px;}
.full-video-section {margin-bottom: 50px;}

.fetaure-list {margin-bottom: 80px;}
.fetaure-list-home {margin-bottom: 0 !important;}
.feature-section {padding: 80px 0; overflow: hidden;}
.feature-section-home {border-bottom: 1px solid #f2f2f2;}
.feature-box {margin-bottom: 30px;}
.feature-box .feature-body {background-color: #FAFAFA; padding: 44px 30px;}
.feature-header {background-color: #00CC56; padding: 10px;}
.feature-header h3 {color:#FAFAFA; letter-spacing: 2px; text-align: center; font-weight: 600; font-size: 24px; padding: 12px 0 12px 0; line-height: 29px;}

.feature-box .feature-body h3 {font-size: 34px; line-height: 43px; margin-bottom: 20px;}
.feature-box .feature-body .ratting {margin-bottom: 35px;}
.feature-box .feature-body p {font-size: 24px; line-height: 35px; color: #757575;}
.feature-box .feature-body p i {margin-right: 15px;}

.feature-body p {display: flex;align-items: center; margin-bottom: 10px;}
.feature-body p a {color: #0098CC;}
.feature-body p a:hover {color: #008AB9;}
.golf-clubs-details .address-footer span i {margin-right: 15px; color: #757575 !important;}
.golf-clubs-details .address-detais  i {margin-right: 15px; color: #757575 !important;}

.hr-title {position: relative; display: block; margin-bottom: 50px;}
.hr-title h4{position: relative; color: #757575; font-size: 20px; font-weight: 600; background-color: #FAFAFA; display: inline-block; padding: 10px 20px; z-index: 2; margin-left: 20px;}
.hr-title:after {content: '';
position: absolute;
width: 100%;
display: flex;	
height: 0px;
border: 1px solid #BDBDBD;
top: 21px;
z-index: 0;	

}

.courser-list {display: flex; padding: 0; flex-direction: row; box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.05); margin-bottom: 20px;}
.courser-list:hover {box-shadow: 0 8px 25px 0 rgba(0, 0, 0, 0.08);}

.courser-list .img-box {width: 21%; float: left;}
.courser-list .description {width: 31%; float: left; padding: 30px 20px 20px 20px;}
.courser-list .view-all {width: 48%; float: left; padding: 30px 30px 20px 30px;}
.description h3 {font-size: 30px; line-height: 40px; margin-bottom: 20px;}
.description p {font-size: 22px; line-height: 30px; color: #757575; display: flex; align-items: flex-start; margin-bottom: 15px;}
.img-box img {width:  100%; vertical-align: middle;}
.description .ratting i {font-size: 28px;margin-right: 10px;line-height: 24px; display: inline-block;}

.description .ratting {margin-bottom: 20px; }
.description p i {margin-right: 15px; margin-top: 3px;}
.description p  a {color: #757575;}
.courser-list .view-all::after {content: '';border-right: 1px solid rgba(189, 189, 189, .3);height: 70%;position: absolute;top: 15%;left: 0;}
.courser-list .view-all {position: relative;}



.view-all .fly-overlink a {color: #757575;font-size: 18px;  }
.view-all .video-gallary {margin-right: 15px; }
.view-all .video-gallary .circle {width: 100px; height: 100px;}




/* search result */


.search-result {background-color: #ffffff; border: 1px solid #BDBDBD; padding: 24px 40px; margin-bottom: 40px;}
.search-result h3 {margin-bottom: 14px; font-size: 30px; color: #757575; line-height: 40px;}
.search-result p {font-size: 28px; line-height: 40px; color: #757575; font-family: 'Calibri-Bold';}


.search-result p a { display: flex; align-items: center; color: #757575;}
.search-result p a i {margin-left: 15px; transition: all .3s ease-in-out; font-size: 40px;}
.search-result p a:hover i {margin-left: 30px; transition: all .3s ease-in-out;}








/* blog page started */
.carousel-section {position: relative; padding: 30px 0 50px 0; background-color: #fafafa;}
.carousel-section .carousel-item img {width: 100%;}
.carousel-section .carousel-item::before {content: ''; position: absolute; width: 100%; height: 100%; background-color: rgba(33, 33, 33, .8); } 
.carousel-section .carousel-control-prev, .carousel-section .carousel-control-next {display: none;}
.carousel-section .carousel-indicators li {height: 10px; width: 10px; border-radius: 100px; margin-right: 6px;}
.carousel-section .carousel-indicators {bottom: 30px; }
.carousel-section .carousel-caption {height: 240px; text-align: left; max-width: 600px; right: 5%; left: 5%; }

.carousel-caption .btn-fetured {background-color: #0098CC; color: #ffffff; padding: 8px 15px 8px 15px !important; display: inline-block; line-height: 12px; margin-bottom: 13px; font-size: 14px;}
.carousel-caption h3 {font-size: 28px; line-height: 40px;  font-family: 'Calibri-Light'; margin-bottom: 10px;}

.profile-caption img {width: 40px !important; height: 40px !important;  border-radius: 100px; margin-bottom: 10px; border: 1px solid #ffffff;}
.profile-caption h4 {font-size: 12	px; margin-bottom: 5px;}
.profile-caption p {font-size: 10px; margin-bottom: 5px; font-family: 'Calibri-Light';}


.blog-category-section {padding: 60px 0; overflow: hidden;}

.categores {margin-bottom: 50px;}
.categores ul {padding: 0;}
.categores ul li {padding: 0; margin: 0; display: inline-block; margin-right: 50px; }
.categores ul li:nth-child(1) {margin-left: 20px;}
.categores ul li a {padding: 8px 15px; line-height: 24px; display: inline-block; color: #757575; background-color: #fafafa; font-size: 18px; }
.categores ul:after {content: '';position: absolute;width: 100%;display: flex;height: 0px;border: 1px solid #BDBDBD;top: 21px;z-index: -1;} 
.categores ul li a.active {background-color: #0098CC; color: #ffffff; }


.blogs-card {margin-bottom: 30px; box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.05);}
.blog-header img {width: 100%; transition: all .5s ease-in-out; }
/* .blogs-card:hover .blog-header img { clip-path: polygon(0 0, 80% 0%, 100% 20%, 100% 100%, 100% 100%, 0 100%, 0 100%, 0 0); transition: all .5s ease-in-out; } */
.blog-body {position: relative; padding: 20px 20px; background-color: #ffffff;}
.blog-body .dropdown-more {position: absolute !important; top: 15px; right: 5px; width: 30px;}
.dropdown-more .dropdown-menu a {color: #6B6B6B; font-weight: 400; font-size: 18px; }
.dropdown-more a {color: #6B6B6B;}

.blog-body p span {color: #6B6B6B; font-style: italic; font-size: 16px; line-height: 24px; padding-right: 40px;}
.blog-body h3 {color: #303030; font-size: 24px;  font-weight: 700; line-height: 36px; margin-bottom: 10px;}
.dropdown-more .dropdown-menu {Right: 0 !important; left: auto !important;  transform: none !important; top: 20px !important;}
.blog-body p {font-size: 20px; color: #303030; letter-spacing: -0.4px; line-height: 36px; margin-bottom: 10px;}
.blog-body a.btn-continue { text-transform: uppercase; font-size: 20px; color: #0098CC; font-weight: 600; letter-spacing: 1.5px; margin-top: 20px; display: block;}
.blog-body a.btn-continue {display: flex; align-items: center; line-height: 24px;}
.blog-body a.btn-continue i {font-size: 35px; padding-left: 10px; transition: all .5s ease-in-out;}
.blog-body a.btn-continue:hover i {font-size: 35px; padding-left: 20px;}


.blog-details-img img {width: 100%;}
.blog-details-content {display: flex; flex-direction: column; justify-content: space-between; height: 100%;}
.blog-details-content h2 {font-size: 52px; line-height: 70px; margin-bottom: 50px; padding-right: 40px;}

.blog-author img {position: absolute; height: 70px; width: 70px; border-radius: 100px; left: 0;}
.blog-author {padding-left: 90px; position: relative; }
.blog-author h3 {font-size: 30px; line-height: 40px;}
.blog-author p {color: #757575; font-size: 20px; margin-bottom: 15px;}


.blog-details-section {padding: 60px 0; overflow: hidden; background-color: #fafafa;}
.blog-detais-heading h2 {font-size: 30px; line-height: 40px; margin-bottom: 15px;}
.blog-detais-content p {font-size: 26px; line-height: 40px; color: #757575; font-family: 'Calibri-Light'; }

.blog-img-gallery {margin-bottom: 20px; margin-top: 50px;}
.about-blog-detais-section {padding: 65px 0 50px 0; overflow: hidden;}
.img-blog-details img {width: 100%; margin-bottom: 30px;}


.blog-related-section {padding: 80px 0; background-color: #fafafa;}
.blog-related-artical h4 {font-size: 30px; color: #757575; line-height: 40px;}
.blog-related-artical a {font-size: 28px; color: #757575; line-height: 40px; display: flex; align-items: center; font-family: 'Calibri-BoldItalic';}
.blog-related-artical a i {padding-left: 15px; font-size: 40px; transition: all .5s ease-in-out; }
.blog-related-artical a:hover i {padding-left: 25px; transition: all .5s ease-in-out; }
.blog-related-artical {margin-bottom: 60px;}

.btn-veiw-golf-course {margin-top: 60px;}
.btn-veiw-golf-course a {background-color: #333333; padding: 19px 140px 20px 90px; color: #757575; font-size: 22px; font-weight: 500; position: relative; overflow: hidden;}
.btn-veiw-golf-course a:hover {background-color: #0098CC; color: #ffffff;}
.btn-veiw-golf-course a span { border-left:1px solid rgba(117, 117, 117, .5); height: 100%; padding: 20px; display: flex; justify-content: center; align-items: center; color: #757575; font-size: 22px; font-weight: 500; position: absolute; top: 0; right: 0;}

.btn-veiw-golf-course a:hover span {color: #ffffff;}


.bolg-social-icon ul li {display: block; margin-bottom: 15px;}
.bolg-social-icon ul li a {height: 60px; width: 60px; border-radius: 100px; display: flex; justify-content: center; align-items: center; border: 1px solid #757575;}
.bolg-social-icon ul li a .fa {font-size: 28px;}


.bolg-social-icon ul li:nth-child(1) a .fa { color: #43619C; }
.bolg-social-icon ul li a:hover {transition: all .3s ease-in-out;}
.bolg-social-icon ul li a:hover .fa {color: #ffffff !important;}
.bolg-social-icon ul li:nth-child(1) a { border-color: rgba(67, 97, 156, .5);}
.bolg-social-icon ul li:nth-child(1) a:hover {background-color: #43619C; }
.bolg-social-icon ul li:nth-child(2) a .fa { color: #F24033; font-size: 26px;}
.bolg-social-icon ul li:nth-child(2) a { border-color: rgba(242, 64, 51, .5);}
.bolg-social-icon ul li:nth-child(2) a:hover {background-color: #F24033; }
.bolg-social-icon ul li:nth-child(3) a .fa { color: #24A9E6; }
.bolg-social-icon ul li:nth-child(3) a {  border-color: rgba(36, 169, 230, .5);}
.bolg-social-icon ul li:nth-child(3) a:hover {background-color: #24A9E6; }
.bolg-social-icon ul li:nth-child(4) a .fa { color: #187FB8; }
.bolg-social-icon ul li:nth-child(4) a {  border-color: rgba(24, 129, 185, 0.5);}
.bolg-social-icon ul li:nth-child(4) a:hover {background-color: #187FB8; }
.bolg-social-icon ul li:nth-child(5) a .fa { color: #187FB8; }
.bolg-social-icon ul li:nth-child(5) a {  border-color: rgba(24, 99, 185, 0.5);}
.bolg-social-icon ul li:nth-child(5) a:hover {background-color: #187FB8; }

.contact-us-section { background-image: url('../images/contact-us-banner.png'); position: relative;  padding: 170px 0px 230px 0; background-repeat: no-repeat; background-size: cover;}
.contact-us-section::before {position: absolute;content: '';left: 0px;top: 0px;width: 100%;height: 100%;display: block;background-color: rgba(33,33,33,.6);}


.page-title h2 {font-size: 60px; line-height: 90px; color: #ffffff; text-align: center; text-transform: uppercase;} 
.page-title .page-breadcrumb {position: relative;text-align: center;}
.page-title .page-breadcrumb li {position: relative;display: inline-block;margin-right: 10px;padding-right: 10px;color: #ffffff;font-size: 24px;line-height: 30px;font-weight: 400;padding-right: 30px;font-family: 'Calibri-Light'; }
.page-title .page-breadcrumb li.active a {padding-left: 18px;color: #ffffff;}
.page-title .page-breadcrumb li.active a:hover {font-weight: 500 !important;}
.page-title .page-breadcrumb li:after {position: absolute;content: '\f105';right: 4px;top: 0px;color: #ffffff;font-family: 'FontAwesome';font-weight: 300;}
.page-title .page-breadcrumb li:nth-last-child(1):after {display: none;} 

.bg-form {background-color: #ffffff; margin-top: -100px; z-index: 1; position: relative;  box-shadow: 0 12px 20px 0 rgba(0, 0, 0, 0.05); margin-bottom: 80px;}
.bg-form {padding: 100px 120px;}

.bg-form .form-group label {font-size: 30px; line-height: 40px; display: none;}
.bg-form .form-group label .required {color: #0098CC;}
.bg-form .form-group .form-control::placeholder {line-height: 60px; }

.bg-form .form-group .form-control {border: 0; line-height: 60px; border-bottom: 2px solid #BDBDBD; color: #444444; border-radius: 0; font-size: 24px; padding: 0;}
.bg-form .form-group .form-control:focus {box-shadow: none; border-bottom: 2px solid #0098CC;}
.bg-form .form-group {margin-bottom: 30px;}

.bg-form .form-group .form-control {resize: none;}


.select2-selection__rendered {line-height: 50px !important; padding: 0 !important;}
.select2-container .select2-selection--single {height: 50px !important;border: 0 !important;font-size: 24px;border-bottom: 2px solid #BDBDBD !important;border-radius: 0 !important;}
.select2-container .select2-selection--single:focus {box-shadow: none !important; border-bottom: 2px solid #0098CC !important; outline: none !important;}
.select2-div .select2-container:focus {box-shadow: none !important; border-bottom: 1px solid #0098CC !important;  outline: none !important;}
.select2-div:focus {box-shadow: none !important;}
.select2-selection__arrow {height: 40px !important;}
.div-submit {display: flex; align-items: flex-end; justify-content: flex-end; margin-top: 50px;}
.btn-submit { background-color: #0098CC;padding: 18px 140px 18px 90px;color: #ffffff;font-size: 20px; 	font-family: 'Calibri-Bold'; position: relative; text-transform: uppercase;}
.btn-submit span { border-left:1px solid rgba(128, 205, 248, .5); padding: 19px 20px 16px 20px; color: #80CDF8; font-size: 20px; line-height: 30px; font-weight: 500; position: absolute; top: 0; right: 0;}
.btn-submit span i {margin-top: 0px;}

.btn-submit:hover {background-color: #008AB9;}
.blog-details-content h2 span {border-bottom: 2px solid #0098CC; }

.mobile-search {display: none;}
.connect2 {margin-bottom: 0 !important;}

/* create regisiter golf course section */

.register-golf-course-section{ padding: 0; margin: 0; float: left; width: 100%; }
/* .register-golf-course-section .register-golf-course-inner { padding: 0; margin: 0; float: left; width: 100%; min-height: calc(100vh - 144px); background-size: cover; display: flex; align-items: center; } */
.register-golf-course-section .register-golf-course-inner { padding: 0; margin: 0; float: left; width: 100%; min-height: 750px; background-size: cover; display: flex; align-items: center; position: relative; overflow: hidden; }
.register-golf-course-section .register-golf-course-inner .banner-content-div { padding: 0; margin: 0; overflow: hidden; }
.register-golf-course-section .register-golf-course-inner .banner-content-div p {  padding: 0;  margin: 0 0 20px 0;  font-size: 30px;  line-height: 40px;  color: #fff;  font-family: 'Calibri-Light'; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h1 { padding: 0; margin: 0 0 30px 0; color: #fff; font-family: 'Calibri-Bold'; line-height: 64px; font-size: 48px; padding-right: 20%; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h2 { padding: 0; margin: 0 0 0px 0; font-size: 36px; line-height: 50px; color: #fff; font-weight: 600; display: block; font-family: 'Calibri-BoldItalic'; }
.register-golf-course-section .register-golf-course-inner .banner-content-div .border-bottom{ border-bottom: 2px solid #0098CC !important; }

.per-course-fee-section{ padding: 0; margin: 0; float: left; width: 100%;  }
.per-course-fee-section .per-course-fee-inner { padding: 100px 0 100px 0; margin: 0; float: left; width: 100%; background-color: #FAFAFA; position: relative;  overflow: hidden; }
.per-course-fee-section .per-course-fee-inner .imgthumb-box{ padding: 0; margin: 0; float: left; width: 100%; overflow: hidden; }
.per-course-fee-section .per-course-fee-inner .imgthumb-box .img-box{ padding: 0; margin: 0; float: left; width: 100%; }

.per-course-fee-section .per-course-fee-inner .right-content-div { padding: 0 0 0 45px; margin: 0; }
.per-course-fee-inner .right-content-div .heading-row-div { padding: 0; margin: 0 0 40px 0; width: 100%; float: left; display: flex; align-items: flex-end; }
.per-course-fee-inner .right-content-div .heading-row-div img.img-fluid.img-icon { width: 35px; float: left; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div { padding: 0; margin: 0; float: left; width: calc(100% - 35px); padding: 0 0 0 35px; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div h2 { font-size: 42px; color: #212121; position: relative; line-height: 56px; }
.per-course-fee-inner .right-content-div .middle-content-box-div{ padding: 0; margin: 0; width: 100%; float: left; } 
.per-course-fee-inner .right-content-div .middle-content-box-div p.italic-p { padding: 0 42% 0 0; margin: 0 0 0px 0; font-size: 36px; line-height: 50px; font-weight: 400; display: block; font-family: 'Calibri-lightItalic'; }
.per-course-fee-inner .right-content-div .middle-content-box-div .border-bottom{ border-bottom: 2px solid #0098CC !important; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee{ padding: 0; margin: 50px 0 0 0; width: 100%; float: left; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li { font-size: 24px; color: #757575; margin: 0 0 20px 0; line-height: 28px; font-weight: 400; position: relative; padding: 0 0 0 35px; float: left; width: 100%; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li::before { content: ""; position: absolute; background: url(../images/icon/check-icon.svg) no-repeat; height: 13px; width: 17px; left: 0; top: 8px; background-size: contain; }

.quotes-golf-course-section{ padding: 0; margin: 0; float: left; width: 100%; }
.quotes-golf-course-section .quotes-golf-course-inner {  padding: 100px 0 100px 0; margin: 0; float: left; width: 100%;  }
.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div { padding: 0; margin: 0;  }
.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div h4 { padding: 0; margin: 0 0 50px 0; font-size: 42px; line-height: 60px; color: #212121; overflow: hidden; }
.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div .quotes-desc-div { padding: 10px 0 10px 40px; margin: 0 0 20px 0; font-size: 30px; line-height: 45px; color: #757575; border-left: 4px solid #0098CC; overflow: hidden; }

.golf-course-circle { position: absolute; right: -120px; bottom: -120px; }
.golf-course-circle2{ position: absolute; left: -120px; bottom: -120px; }
.golf-course-spinner { animation: spin 10s linear infinite; position: relative; left: 0; top: 0; background-image: url(../images/spin-group.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 272px; width: 272px; z-index: 0; }

.btn-course2 { padding: 0; margin: 0 0 10px 0; font-size: 30px; color: #757575; font-weight: 500; letter-spacing: -0.44px; line-height: 40px; display: flex; align-items: center; font-family: 'Calibri-BoldItalic'; }
.btn-course2 .btn-txt-span { padding-right: 60px; }
.btn-course2 .arrow-right { font-size: 28px; }

.btn-course2:hover{ color: #0098CC; }


/* end of regisiter golf course section */


.search-loaction-section {position: absolute; top: 94px; width: 100%;}
.search-loaction-section .search-location-bar {width: 100%;}
.connect ul li:last-child {margin-right: 0;}

.search-group .btn-primary:not(:disabled):not(.disabled):active {background-color: #0098CC; border-color: transparent !important;}
.mobile-search {display: none !important;}

/* tabs */

.tabs-flyit .nav-tabs li a {padding: 20px 40px; display: inline-block; color: #757575; font-size: 21px;}
.tabs-flyit .nav-tabs li a.active {color: #0098CC; border-bottom: 2px solid #0098CC;}
.tabs-flyit .tab-content>.active {opacity: 1;}
.tabs-flyit .tab-content {padding: 40px 20px 10px 20px;}
.tabs-flyit .tab-content .video-gallary {display: inline-block; margin: 0 20px; margin-bottom: 30px;}
.tabs-flyit .tab-content .video-thumb {display: inline-block;}


.tabs-flyit .tab-content .video-thumb .video-gallary .circle {height: 90px; width: 90px;}

.collapse {display: block;}
.btn-collapse {display: none;}

@media (min-width: 768px)

{

	/* .ullist-inline li {padding: 10px 15px;}
	.ullist-inline li a {font-size: 15px;}
	.logo_link img {width: 100%;} */


/* .ullist-inline li a {position: relative; padding: 0 3px 14px 3px;  text-transform: uppercase; font-weight: 600; } */
/* .ullist-inline li a:before { content: ""; position: absolute; width: 100%; height: 3px; bottom: -2px; left: 0; background: #E3C76B; visibility: hidden; transform: scaleX(0); transition: .25s linear; border-radius: 4px; }
.ullist-inline li a.active::before { visibility: visible; transform: scaleX(1); }
.ullist-inline li a:hover:before, .ullist-inline li a:focus:before, .ullist-inline li a.highlighted:before { visibility: visible; transform: scaleX(1); } */
	
}




/* # Media Query
============================================================================================= */


@media only screen and (max-width: 767px){

.tabs-flyit .tab-content .video-gallary {margin: 0 30px; margin-bottom: 30px;}
.tabs-flyit .nav-tabs li a {width: 100%; background-color: #ffffff; color: #0098CC; border: 1px solid #0098CC; border-radius: 8px; padding: 15px 15px;}
.tabs-flyit .nav-tabs li a.active {color: #0098CC; border: 1px solid #0098CC;}
.tabs-flyit .nav-tabs li {width: 100%; margin-bottom: 8px;}
.tabs-flyit .nav-tabs li {display: inline-block;}
.btn-collapse .fa {
    float: right;
    margin-top: 8px;
}

.collapsed .fa {
	transform: rotate(180deg);
}

.btn-collapse {
    display: none;
    background-color: #0098CC;
    background-color: #ffffff;
    transition: all 0.3s ease-in-out;
    color: #0098CC;
    border-radius: 8px;
    font-weight: 500;
    line-height: 36px;
    padding: 5px 30px;
    border: 1px solid #0098CC;
	text-align: left;
	font-size: 21px;
}

.collapse {
    display: none !important;
}
.collapse.show {
	display: block !important;
}

/* mobile navigation start */

.nav-div .closebtn { display:block;}
.top-nav1 {display: flex;align-items: center; height: 100%;}
.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.png) no-repeat;  width: 21px; height:23px; position: relative; display:inline-block; vertical-align:middle;}
.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #242424 ; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div .closebtn { position: absolute; color: #fff; background: #0098CC;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
.nav-div .closebtn:hover { color: #fff; }

.ullist-inline { height: auto; }
.body-listing { min-height: 100%; }

.width80{ width: 60%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }

.ullist-inline li { width: 100%; margin: 0px 0 0 0; padding: 10px 20px; }
.ullist-inline li a{ color: #fff; text-transform: uppercase;  font-weight: 400; font-size: 16px; }
.ullist-inline li:hover a{ color: #0098CC;}
.ullist-inline li a.active{ color: #0098CC; }
.ullist-inline li a.btn-contact {padding: 8px 30px; border: 1px solid #fff; border-radius: 100px; background-color: #6D7278; color: #fff; display: inline-block; }

/* .fixed .ullist-inline li a{ color: #fff; font-weight: 500; text-transform: uppercase;}
.fixed .ullist-inline li a.active{ color: #E3C76B;font-weight: 500; } */

/* End of navigation */

.btn-collapse {display: block; width: 100%; margin-bottom: 10px;}
.collapse {display: none !important;}
.sidebar .collapse.show{display: block !important;}
.sidebar {background-color: #fff;}

.nav-m-bar {order: 2;}
.search-bar {order: 1;}
.cbp-af-header-shrink {animation: none; transform: none; }



.slide-bar-mobile { background-color: #fff; }
.slide-bar-mobile.fixed { width: 100%; position: fixed !important; z-index: 99; left: 0; top: 65px;}
.slide-bar-mobile.fixed ul {padding: 10px;}
.sidebar ul li:nth-child(1) {display: none;}


/*----------------------------------------- Home page---------------------------------------------------- */

/* Header changes */



.header-div .inner-top-header-div .logo-div{ width: 50%; padding: 10px 0; min-height: 70px;}
.header-div .rightnav-div .socialicon-div {  display: none; }

.header-div nav.nav-center{ width: 50%; min-height: 70px; align-items: center; }
.header-div .top-nav1 { display: flex; align-items: center; height: 100%; justify-content: flex-end; width: 100%; }
.header-div .search-bar { position: absolute; top: 16px; right: 45px; }
.header-div .inner-top-header-div .logo-div{ padding-left: 0px; }

/* mobile social media */

.nav-div.width80 .mobile-social-only { display: block; position: fixed; bottom: 0; right: 0; background: transparent; z-index: 99999999; width: 60%; padding: 15px; -webkit-animation: mymove 2s; -webkit-animation-delay: 2s; animation: mymove 2s; animation-delay: 0s; }
.nav-div.width80 .mobile-social-only.socialicon-div .icon-list { display: flex; align-items: center; justify-content: center; border: 1px solid #6666661a; height: 29px; width: 29px;border-radius: 100%;margin: 0 16px 0 0;float: left;transition: all 0.2s ease-in-out; }
.nav-div.width80 .mobile-social-only.socialicon-div .icon-list:last-child{ margin-right: 5px; }
.nav-div.width80 .mobile-social-only .social-icons{ margin: 0 auto; padding: 0; width: 13px; height: 13px; display: block; background-size: cover; vertical-align: middle; text-align: center; fill: #666666; color: #666666; -webkit-mask-size: cover; mask-size: cover; background-color: #0098CC;  }
.nav-div.width80 .mobile-social-only.socialicon-div .social-link{ display: inline-block; }
.nav-div.width80 .mobile-social-only.socialicon-div .icon-list:hover{ background-color: #1F206B; }
.nav-div.width80 .mobile-social-only.socialicon-div .icon-list:hover .social-icons{ background-color: #ffffff; }
.nav-div.width80 .mobile-social-only.socialicon-div .social-icons.twitter-icon { width: 16px !important; }

.header-div .rightnav-div .socialicon-div .icon-list:last-child {margin-right: 15px;}

@-webkit-keyframes mymove {from {opacity: 0;}to {opacity: 1;}}
@keyframes mymove {from {opacity: 0;}to {opacity: 1;}}




/* 
###################################   Mobile  Design ###########################################
################################# Home page stared #############################################
################################################################################################*/
.home-banner-section {flex-direction: column;}
.home-banner-content {width: 100%; padding: 15px;}
.home-banner-image {width: 100%; height: 300px; background-size: 100%;}

.text-content h2 {font-size: 36px; line-height: 50px;}
.text-content {margin-bottom: 30px;}
.text-content-two p {font-size: 24px; line-height: 40px;}


.search-location-bar {width: 100%; position: relative; height: auto;}
.search-location-bar .search-group {padding: 10px 15px;}
.search-group .form-control {height: 40px; padding-left: 30px; font-size: 16px;}
.search-group .btn-search {margin-left: 15px; padding:  7px 10px; font-size: 16px; line-height: 0; font-weight: 500;}
.search-group .location-icon {top: 20px;left: 20px; font-size: 20px;}


.golf-spinner2 {width: 150px; height: 150px;}
.gallery-left-spinner {width: 200px; height: 200px;}

.gallery-right-spinner {width: 150px; height: 150px;}
.gallery-right-bottom-spinner {width: 200px; height: 200px; right: -100px; bottom: -200px;}
.spinner {right: -113px;top: -88px;}

.send-message a {width: 100%;}


.testimonial-inner {padding: 30px 15px;}
.quote-text p {width: auto; font-size: 22px;line-height: 30px;}

.balck-bg-section {height: 100px;}

.footer-section {padding: 50px 0;}
.connect h4 {text-align: left; margin-bottom: 25px;}

.feature-title {padding: 0px;}
.feature-title h3 {font-size: 32px; margin: 60px 0 0 60px; margin-bottom: 30px;  line-height: 40px;}
.feature-title p {font-size: 22px; line-height: 30px; margin-bottom: 15px;}
.Copyright {line-height: 30px; font-display: 16px;}

.feature-title h3:before {top: -10px;}
.container-heading h3:before {left: -50px; width: 40px; z-index: 2;}
.feature-client-first {padding-left: 15px;}
.testimonial-title h3 {font-size: 30px; letter-spacing: 10px;}

.golf-spinner {right: -200px; left: auto;}


/* end */

.courser-list .view-all::after {display: none;}
.courser-list {display: flex; padding: 0; flex-direction: column; box-shadow: 0 0px 12px 0 rgba(0, 0, 0, 0.05); margin-bottom: 20px;}
.courser-list .img-box {width: 100%; float: none;}
.courser-list .description {width: 100%; float: left; padding: 30px 30px  20px 30px;}
.courser-list .view-all {width: 100%; float: left; padding: 30px 30px 20px 30px; }
.courser-list .view-all .video-thumb {overflow-y: auto;}

.carousel-circle {display: none;}
.feature-spinner2 {display: none;}
.feature-spinner {display: none}
.golf-clubs-spinner {display: none;}

.carousel-section .carousel-item img {min-height: 250px;}
.carousel-section .carousel-caption h3 {font-size: 18px; line-height: 22px;}
.carousel-section .carousel-item .carousel-caption img {min-height: 40px !important;}
.carousel-section .carousel-caption {bottom: 0;}

.categores ul li {margin-right: 5px;}
.categores ul li a {padding: 5px; font-size: 16px;}
.categores ul:after {top: 16px;}

.blog-details-img {margin-bottom: 30px;}
.blog-details-content h2 {font-size: 32px; line-height: 48px; margin-bottom: 30px; padding-right: 0px;}

.blog-detais-heading h2 {font-size: 26px; line-height: 40px;}
.blog-detais-content p {font-size: 20px; line-height: 36px;}

.blog-related-artical h4 {font-size: 24px; line-height: 36px;}
.blog-related-artical {margin-bottom: 30px;}
.blog-related-artical a {font-size: 24px; line-height: 36px;}

.golf-spinner {}
.contact-us-section {padding: 80px 0; background-size: cover;}
.page-title h2 {font-size: 30px; line-height: 40px;}
.bg-form {padding: 50px 30px; margin-top: -40px;}
.page-title .page-breadcrumb li {font-size: 16px;}

.bg-form .form-group .form-control {font-size: 20px; line-height: 40px;}
.bg-form .form-group {margin-bottom: 20px;}


.select2-container .select2-selection--single {font-size: 20px; height: 40px;}
.div-submit {margin-top: 15px;}
.btn-submit {width: 100%; padding: 12px 10px; font-size: 16px;}
.btn-submit span {padding: 13px; line-height: 10px;}
.btn-submit span i {margin-top: 0px;}

.golf-clubs-spinner2 {display: none;}
.about-spinner {display: none;}

.golf-clubs-title h3 {font-size: 32px; margin-bottom: 10px;}
.play-info .play-tab {padding: 20px;}

.golf-clubs-title {margin-top: 20px; }

.golf-clubs-inner .ratting {margin-bottom: 20px;}
.golf-clubs-details .address-detais {margin-bottom: 20px;}

.golf-clubs-details .address-footer span {width: 50%;}

.play-info .play-tab h4 {font-size: 20px;}
.play-info .play-tab  p { font-size: 20px;}

.container-heading-black h3 span {font-size: 36px; line-height: 50px;}
.container-heading-black h3 {font-size: 36px; line-height: 50px;}
.container-heading-black h3:before {top: -10px;}

.fly-overlink a {font-size: 20px;}
.fetaure-list {margin-bottom: 30px;}
.view-golf-section {padding: 50px 0;}

.feature-header h3 {font-size: 20px; line-height: 0px; padding: 12px 15px; }
.feature-box .feature-body {padding: 20px 20px;}
.feature-box .feature-body h3 {font-size: 28px; margin-bottom: 15px;}
.feature-box .feature-body .ratting {margin-bottom: 15px;}
.feature-box .feature-body .ratting i {margin-right: 10px;}

.feature-box .feature-body p {font-size: 20px; display:flex; align-items: flex-start;}
.feature-box .feature-body p i {margin-top: 8px;}
.feature-box {margin-bottom: 30px;}

.view-all .fly-overlink a {font-size: 20px;}
.courser-list .description {padding: 20px;}
.courser-list .view-all {padding: 0 20px 20px 20px;}

.text-content-two {margin-bottom: 50px;}

.address-footer span {width: 50%;}
.about-img-group {margin-bottom: 0;}

.testimonial-section .owl-theme .owl-nav {margin-left: 50px;}
.testimonial-section {height: 630px;}
.gallery-tiltle h3 {z-index: 2; position: relative;}

.search-result h3 {font-size: 26px;}
.search-result p {font-size: 24px;}

.feature-section {padding: 50px 0;}

.btn-veiw-golf-course a {display: inline-block; white-space: nowrap; padding: 15px -20px; font-size: 18px; width: 100%;}
.btn-veiw-golf-course a span {padding: 16px; line-height: 10px;}


.bolg-social-icon ul li {display: inline-block; margin-right: 15px; margin-bottom: 30px;}

.mobile-search {display: none !important;}
.rightnav-div .search-bar {display: None;}
.search-bar a {display: inline-block;}

.container-heading h3 {font-size: 36px; line-height: 50px;}
.container-heading h3 span {display: block;}

.golf-course {padding: 50px 0px}
.container-heading {padding-bottom: 30px;}
.golf-course-title h3 {font-size: 30px; line-height: 36px; margin-bottom: 15px;}

.address-footer span {font-size: 20px; line-height: 36px; padding-left: 35px;}
.address-footer span i {font-size: 24px;}

.golf-course-inner .ratting {margin-bottom: 10px;}
.golf-course-image {margin-bottom: 20px;}
.address-detais p {font-size: 20px; line-height: 36px; padding-left: 35px;}
.address-detais .address-icon {font-size: 24px;}
.address-footer {margin-bottom: 15px; align-items: center;}
.about-golf-course p {font-size: 20px; line-height: 36px; }

.about-section {padding: 50px 0}
.about-heading h3 {font-size: 36px; line-height: 50px; margin-bottom: 20px;}
.gallery-tiltle h3 {font-size: 36px; padding-left: 38px; line-height: 50px;}
.gallery-tiltle h3:before {left: -5px;}
.fooetr-heading h3 {font-size: 36px; line-height: 50px;}


.getin-touch P {font-size: 20px; line-height: 36px;}
.logo_link img {width: 100%;}
.img-search img {height: 18px; width: 20px;}



.img-man  img {width: 50px; height: auto;}
.text-content h2 {font-size: 24px; line-height: 36px;}
.text-content h3 { line-height: 48px; font-size: 36px; }
.text-content .img-man {top: 7px;}
.text-content-two p { font-size: 20px; line-height: 32px; }
.text-content-two p span { padding: 10px 0 0 0; }

.about-heading p {font-size: 20px; line-height: 36px;}

.golf-clubs-section .about-golf-course h3 {font-size: 30px; line-height: 40px;}

.btn-veiw-golf-course {margin-top: 30px;}


.search-result {padding: 20px;}
.search-result h3 {font-size: 24px; line-height: 36px;}
.search-result p {line-height: 36px;}

.description p {font-size: 20px; line-height: 36px; margin-bottom: 5px;}
.description p i {margin-top: 8px; font-size: 24px;}
 
.bolg-social-icon ul li a {width: 45px; height: 45px;}
.bolg-social-icon ul li a .fa {font-size: 20px;}
.bolg-social-icon ul li:nth-child(2) a .fa {font-size: 18px;}


/* create regisiter golf course section */

.middle-container.register-golf-middle { margin-top: 70px; }

.register-golf-course-section .register-golf-course-inner { min-height: calc( 100vh - 72px );  }
.register-golf-course-section .register-golf-course-inner .banner-content-div p{ font-size: 24px; line-height: 30px; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h1 { margin: 0 0 30px 0; line-height: 40px; font-size: 24px; padding-right: 10px; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h2 { font-size: 21px; }

.per-course-fee-section .per-course-fee-inner { padding: 50px 0 50px 0; }
.per-course-fee-section .per-course-fee-inner .right-content-div { padding: 40px 0 0 0px; width: 100%; }
.per-course-fee-inner .right-content-div .heading-row-div img.img-fluid.img-icon { width: 25px; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div { padding: 0; width: calc(100% - 25px); padding: 0 0 0 20px; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div h2 { font-size: 28px; line-height: 36px; }
.per-course-fee-inner .right-content-div .middle-content-box-div p.italic-p { padding: 0 0 0 0; font-size: 24px; line-height: 40px; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li { font-size: 18px; line-height: 28px; margin: 0 0 0 0; padding: 0 0 0 30px; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li::before { height: 14px; width: 14px; top: 10px; }

.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div h4 { margin: 0 0 20px 0; font-size: 24px; line-height: 36px; }
.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div .quotes-desc-div { padding: 5px 0 5px 10px; margin: 0 0 20px 0; font-size: 18px; line-height: 32px; border-left: 3px solid #0098CC;}
.quotes-golf-course-section .quotes-golf-course-inner { padding: 50px 0 50px 0; }

.golf-course-circle { position: absolute; right: -65px; bottom: -60px; }
.golf-course-circle2{ position: absolute; left: -65px; bottom: -65px; }
.golf-course-spinner { animation: spin 10s linear infinite; position: relative; left: 0; top: 0; background-image: url(../images/spin-group.svg); background-repeat: no-repeat; background-position: center; background-size: 100%; height: 150px; width: 150px; z-index: 0; }

.btn-course2 { font-size: 24px; }
.btn-course2 .arrow-right{ font-size: 24px; }
.btn-course2 .btn-txt-span{  padding-right: 40px; }

/*  End of create regisiter golf course section */

.search-loaction-section {position: relative; top: 0; margin-bottom: 20px;}
.text-content-two {margin-bottom: 30px;}
.rightnav-div {display: none !important;}

}






.btn:focus,.btn:active , .form-control:focus {box-shadow: none !important; outline: none !important;}


/* 
###################################   Mobile  Design ###########################################
################################# Home page stared #############################################
################################################################################################*/




@media only screen and (min-device-width : 768px) and (max-device-width : 1023px) {

	.tabs-flyit .nav-tabs li a {padding: 20px 30px;}
/* Ipad media query  */

.header-div .logo-div { width: 25%; }
.nav-div .closebtn { display:block;}
.header-div nav {display: flex;justify-content: flex-end;width: 75%;max-height: 75px;align-items: center;height: 100%;}
.nav-m-bar .menu-bars{ background:url(../images/icon/menubar.png) no-repeat;  width:21px; height:23px; display:inline-block; vertical-align:middle;}

.nav-div { height: 100%; width: 0; position: fixed; z-index: 9999999; top: 0; right: 0; background-color: #15152C; overflow-x: hidden; padding-top: 60px; transition: 0.5s; }
.nav-div ul li { width: 100%; margin: 0px 0 5px 0; padding: 15px 20px; }
.nav-div .closebtn { position: absolute; color: #fff; background: #0098CC;  border-radius: 0 0 0 30px; top: 0; min-width: 45px; text-align: center; height: 45px; display: flex; justify-content: center; align-items: center; right: 0; font-size: 28px; font-weight: 300; line-height: 35px; }
.nav-div .closebtn:hover { color: #fff; }

.width80{ width: 40%; }
.opacityon{ opacity: 1; }
.displayblock{ display: block; }
.right_navbar{ margin: 0 40px 0 0; }

.ullist-inline { height: auto; }
.ullist-inline li a{ color: #fff !important;}
.ullist-inline li:hover a{ color: #0098CC;}
.ullist-inline li a.active{ color: #0098CC;}
.ullist-inline li a.btn-contact {padding: 8px 30px; border: 1px solid #fff; border-radius: 100px; background-color: #6D7278; color: #fff; display: inline-block; }
.fixed .nav-m-bar .menu-bars{ background:url(../images/icon/menubar.png) no-repeat; width:21px; height:23px; display:inline-block; vertical-align:middle;}

/* End of navigation */	

.nav-m-bar {order: 2;}
.search-bar {order: 1;}
.cbp-af-header-shrink {animation: none; transform: none; }

/* .page-heading::after{ height: auto; } */

.header-div .inner-top-header-div .logo-div{ width: 50%; }
.header-div nav.nav-center { width: 50%; min-height: 94px; align-items: center; }
.header-div .top-nav1 { display: flex; align-items: center; height: 100%; justify-content: flex-end; width: 100%; }
.header-div .rightnav-div { position: absolute; top: 0px; right: 40px;width: 260px; }
.header-div .inner-top-header-div .logo-div{ padding-left: 0px; }


.courser-list .view-all::after {display: none;}
.courser-list {display: block;  margin-top: 30px;}
.courser-list .img-box {width: 40%; float: left;}
.courser-list .description {width: 60%; float: left; padding: 30px 30px  20px 30px;}
.courser-list .view-all {width: 100%; float: left; padding: 30px 30px 20px 30px; }
.courser-list .view-all .video-thumb {overflow-y: auto;}


.home-banner-content {padding-left: 3%; padding-right: 3%; padding-top: 130px;}
.home-banner-image {height: auto;}

.text-content-two p {font-size: 22px; line-height: 40px;}
.text-content h2 {font-size: 30px; line-height: 40px}
.text-content h3 {font-size: 30px; line-height: 40px;}
.container-heading h3 {font-size: 34px;}
.about-heading h3 {font-size: 34px; margin-bottom: 30px;}
.golf-course-title h3 {font-size: 34px;}

.text-content-two {margin-bottom: 50px;}
.search-location-bar {position: relative; width: 700px; margin-bottom: 30px; height: auto;}
.search-group {padding: 20px;}
.search-group .form-control {height: 50px; font-size: 20px;}
.search-group .location-icon { top: 35px; left: 36px;}
.search-group .btn-search { margin-left: 30px;   background-color: #0098CC; padding: 8px 30px 10px 30px; font-size: 20px; font-weight: 400; text-transform: uppercase;}

.mobile-search {display: none !important;}
.search-bar a {display: inline-block;}
.rightnav-div .search-bar {display: none;}


.golf-clubs-title {margin-top: 30px;}
.feature-spinner {display: none;}

.fooetr-heading h3 {font-size: 34px;}
.fooetr-heading h3, .send-message {padding-left: 20px; }

.gallery-tiltle h3 {font-size: 34px;}
.feature-title {padding: 0;}
.feature-title h3:before {top: -5px;}
.feature-title h3 {margin-bottom: 25px; font-size: 32px; line-height: 40px;}
.feature-title p {margin-bottom: 25px; font-size: 24px; line-height: 40px;}

.connect h4 {font-size: 24px;}
.getin-touch h4 {font-size: 24px;}
.getin-touch P {font-size: 20px;}
.getin-touch, .connect {padding-left: 20px;}

.quote-text p {width: 100%;}
.testimonial-inner {padding: 40px 20px;}
.spinner {right: -150px;  height: 200px;  width: 200px;}
.contact-spinner {display: none;} 


.about-img-group {margin-bottom: -50px;}
.balck-bg-section {height: 100px;}
.golf-gallery-section .owl-theme .owl-nav {top: 13%;}

.golf-gallery-section .owl-theme .owl-nav .owl-prev {left: -70px;}
.golf-gallery-section .owl-theme .owl-nav .owl-next {right: -70px;}
.header-div .rightnav-div .socialicon-div .icon-list:last-child {margin-right: 20px;}


.feature-box .feature-body p {align-items: flex-start;}
.feature-box .feature-body p i {margin-top: 5px;}

.page-title h2 {font-size: 40px; line-height: 55px;}
.page-title .page-breadcrumb li {font-size: 20px;}
.contact-us-section {padding: 100px 0 150px;}

.page-title h2 {font-size: 40px; line-height: 55px;}
.bg-form {margin-top: -80px;}
.page-title .page-breadcrumb li {font-size: 20px;}

.carousel-section .carousel-caption {height: 205px;}
.carousel-caption h3 {font-size: 22px;}


.blog-details-content {margin-top: 30px;}
.blog-details-content h2 {font-size: 36px; line-height: 50px; margin-bottom: 40px;}
.blog-details-content {justify-content: flex-start;}

.blog-related-section {padding: 50px 0 30px 0;}
.golf-course-image img {max-height: 500px; overflow: hidden;}

/* create regisiter golf course section */

/* .middle-container.register-golf-middle { margin-top: 70px; } */


.register-golf-course-section .register-golf-course-inner .banner-content-div{ width: 70%; }

.register-golf-course-section .register-golf-course-inner { min-height: 400px; }
.register-golf-course-section .register-golf-course-inner .banner-content-div p{ font-size: 24px; line-height: 30px; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h1 { margin: 0 0 30px 0; line-height: 40px; font-size: 24px; padding-right: 10px; }
.register-golf-course-section .register-golf-course-inner .banner-content-div h2 { font-size: 21px; }

.per-course-fee-section .per-course-fee-inner { padding: 50px 0 50px 0; }
.per-course-fee-section .per-course-fee-inner .right-content-div { padding: 0px 0 0 0px; width: 100%; }
.per-course-fee-inner .right-content-div .heading-row-div img.img-fluid.img-icon { width: 25px; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div { padding: 0; width: calc(100% - 25px); padding: 0 0 0 20px; }
.per-course-fee-inner .right-content-div .heading-row-div .txt-div h2 { font-size: 28px; line-height: 36px; }
.per-course-fee-inner .right-content-div .middle-content-box-div p.italic-p { padding: 0 0 0 0; font-size: 24px; line-height: 40px; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li { font-size: 18px; line-height: 28px; margin: 0 0 0 0; padding: 0 0 0 30px; }
.per-course-fee-inner .right-content-div .middle-content-box-div .list-course-fee li::before { height: 14px; width: 14px; top: 10px; }

.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div h4 { margin: 0 0 20px 0; font-size: 24px; line-height: 36px; }
.quotes-golf-course-section .quotes-golf-course-inner .banner-content-div .quotes-desc-div { padding: 5px 0 5px 10px; margin: 0 0 0px 0; font-size: 18px; line-height: 32px; border-left: 3px solid #0098CC;}
.quotes-golf-course-section .quotes-golf-course-inner { padding: 50px 0 50px 0; }

.btn-course2 { font-size: 28px; }


/*  End of create regisiter golf course section */


.connect ul li:last-child {margin-right: 15px;}




}

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1) {

/* .header-div nav.nav-center {width: 50%;}
.header-div .rightnav-div {width: 30%;} */

.ullist-inline li {padding: 10px 10px;}
.ullist-inline li a {font-size: 14px;}

.courser-list {display: block;  margin-top: 30px;}
.courser-list .img-box {width: 30%; float: left;}
.courser-list .description {width: 60%; float: left; padding: 30px 30px  20px 30px;}
.courser-list .view-all {width: 100%; float: left; padding: 30px 30px 20px 30px; }
.courser-list .view-all .video-thumb {overflow-y: auto;}
.blog-details-content h2 {font-size: 44px;line-height: 65px;margin-bottom: 50px; padding-right: 0;}

.home-banner-content {padding-left: 5%; padding-right: 5%; padding-top: 150px;}
.home-banner-image {height: auto;}

.text-content-two p {font-size: 22px; line-height: 40px;}
.text-content h2 {font-size: 30px; line-height: 40px}
.text-content h3 {font-size: 30px; line-height: 40px;}

.text-content-two {margin-bottom: 50px;}
.search-location-bar {position: relative; width: 700px; margin-bottom: 30px; height: auto;}

.search-group {padding: 20px;}
.search-group .form-control {height: 50px; font-size: 20px;}
.search-group .location-icon { top: 35px; left: 36px;}
.search-group .btn-search { margin-left: 30px; background-color: #0098CC; padding: 8px 30px 10px 30px; font-size: 18px; font-weight: 400; text-transform: uppercase;}


.golf-clubs-title {margin-top: 30px;}
.quote-text p {width: 100%;}
.testimonial-inner {padding: 40px 40px;}
.spinner {right: -150px;  height: 200px;  width: 200px;}

.header-div .rightnav-div .socialicon-div .icon-list:last-child {margin-right: 20px;}
.mobile-search {display: none;}
.search-bar a {display: inline-block;}
.rightnav-div .search-bar {display: none;}

.feature-title p {
    font-size: 34px;
	line-height: 50px;
	margin-bottom: 50px;
}

.feature-title h3 {
	font-size: 34px;
	line-height: 50px;}
	.feature-header h3 {font-size: 20px;}
	.feature-header {padding: 0;}
	.feature-box .feature-body {padding: 20px;}
	.feature-box .feature-body p {font-size: 20px; align-items: flex-start;}	
	.feature-box .feature-body p i {margin-top: 10px;}
	.feature-box .feature-body h3{font-size: 24px; line-height: 36px;}
	.feature-box .feature-body .ratting {margin-bottom: 20px;}

	.page-title h2 {font-size: 40px; line-height: 55px;}
	.bg-form {margin-top: -80px;}
	.page-title .page-breadcrumb li {font-size: 20px;}
	.contact-us-section {padding: 100px 0 180px;}
	

	.golf-gallery-section .owl-theme .owl-nav .owl-prev {left: -70px;}
	.golf-gallery-section .owl-theme .owl-nav .owl-next {right: -70px;}

}

@media only screen and (min-width: 768px) and (max-width: 1024px) {}

@media screen 
  and (min-device-width: 1025px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) { }

@media screen 
  and (min-device-width: 1280px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { }
	
@media only screen 
 and (min-device-width: 768px) 
 and (max-device-width: 1024px) 
 and (orientation: landscape) 
 and (-webkit-min-device-pixel-ratio: 1) {}

@media only screen 
 and (min-device-width: 375px) 
 and (max-device-width: 667px) 
 and (-webkit-min-device-pixel-ratio: 2)
 and (orientation: landscape) {}


 @media (max-width: 320px){
	.connect ul li {margin-right: 10px;}
	.tabs-flyit .tab-content .video-gallary {margin: 0 12px; margin-bottom: 30px;}
 }

 
@media (min-width: 1230px)
{
.container {max-width: 1230px;}
}

@media (min-width: 1200px){
.container { max-width: 1200px;}
}

@media only screen and (min-width: 1280px)
{
 .container {max-width: 1280px;}

}
@media only screen and (min-device-width: 1270px)
 and (max-device-width: 1280px)
{
	.description p {font-size: 20px;}
	.courser-list .description {padding: 20px;}
	.description .ratting {margin-bottom: 15px;}
	.description h3 {margin-bottom: 15px;}

	.view-all .video-gallary .circle {height: 95px; width: 95px;}

}		


@media only screen and (min-width: 1440px)
{
 .container {max-width: 1440px;}

 .home-banner-content {padding-left: 13% ;}
}

/* @media only screen and (min-width: 1600px)
{
 .container {max-width: 1600px;}
}	 */

@media only screen 
  and (min-device-width: 768px) 
  and (max-device-width: 1024px) 
  and (-webkit-min-device-pixel-ratio: 2) {

	.home-banner-content {padding-left: 4% ;}
	.text-content{margin-bottom: 60px;}
}